<h2>Listing RFID tokens
  <%= if @member do %>
    for <%= link @member.name, to: company_member_path(@conn, :show, @member.company, @member) %>
  <% end %>
</h2>

<%= render "list.html", member: @member, rfid_tokens: @rfid_tokens, conn: @conn %>

<% # TODO: Fix this to a javascript:history(-1) link %>
<%= #link "Back", to: company_path(@conn, :show, @company) %>
