<h2>Show door</h2>

<ul>
  <li>
    <strong>Name:</strong>
    <%= @door.name %>
  </li>
</ul>


<%= Phoenix.View.render Gatekeeper.DoorAccessAttemptView, "access_log.html", access_attempts: @door.access_attempts, conn: @conn %>
<%= link "Edit", to: door_path(@conn, :edit, @door) %>
<%= link "Back", to: door_path(@conn, :index) %>
