<h2>Edit member</h2>

<%= render "form.html", Dict.merge(@conn.assigns, action: company_member_path(@conn, :update, @company, @member), conn: @conn) %>

<%= link "Back", to: "javascript:history.back()" %>
