<h2>New member of <%= link @company.name, to: company_path(@conn, :show, @company) %></h2>

<%= render "form.html", Dict.merge(@conn.assigns, 
                        action: company_member_path(@conn, :create, @company),
                        conn: @conn)
%>

<%= link "Back", to: "javascript:history.back()" %>
