<h2>Edit RFID token</h2>

<%= render "form.html", changeset: @changeset,
                        action: rfid_token_path(@conn, :update, @rfid_token) %>

<% # TODO: history(-1) %>
<%= link "Back", to: "javascript:history.back()" %>
