<h2>New RFID Token</h2>

<%= render "form.html", Dict.merge(@conn.assigns, conn: @conn, changeset: @changeset, action: company_member_rfid_token_path(@conn, :create, @member.company, @member)) %>

<%= link "Back", to: company_member_path(@conn, :show, @member.company, @member) %>
