<h2>Door Group: <%= @door_group.name %></h2>

<h4>Associated Doors</h4>
<ul>
  <%= for door <- @door_group.doors do %>
    <li><%= link door.name, to: door_path(@conn, :show, door) %></li>
  <% end %>
</ul>

<%= link "Edit", to: door_group_path(@conn, :edit, @door_group) %>
<%= link "Back", to: door_group_path(@conn, :index) %>
